// $from: color('viously-green', 'lighten-2');
// $to: color('viously-green', 'lighten-5');

#homepage {
  .logo-block {
    background-image: url("/img/mx-withtext.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-position: center;
  
    width: 200px;
    height: 200px;
    padding-top: 20px;
  }

  header {
    background-color: #855cc7;
    background-image: linear-gradient(62deg,#855cc7,#b81fff);
    margin-left: -10mm;
    margin-right: -10mm;
    margin-top: -10mm;
  }
}
