<section class="sheet homepage" id="homepage">

    <header>
      <div class="logo-block"></div>
    </header>
    
    <div class="title-block">
      <h1 class="title display-4">DocumentCSS</h1>
      <div class="subtitle">snippet of css to help you to create your document quickly and easily !</div>
      <p>Just write your code using them and your custom code and generate your pdf if need it.</p>
    </div>

</section>
